body {
	background: url("../images/darthvader.jpg");
	background-repeat: no-repeat;
}

p {

	text-align: right;
	color: red;
 }
/* Use pseudo classes to trick out the images for the different Sith Lords; hover, animate, etc...*/

.sithlord {
	float: left;
	width: 150px;
}

div.sithlord:hover {
	background-color: red;

}

#vader {

	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 100px;
}

#sidious {

	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 100px;
	border-color: yellow;


}

#renn{

	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 100px;


}

#maul {

	height: auto;
	width: auto;
	max-width: 150px;
	max-height: 100px;
}