body {
	background: url("../images/darthvader.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.instructions {
	border-style: groove;
	border-width: 5px;
	border-color: #80b3ff;
}

p {
	font-family: 'Bungee Hairline', cursive;
	font-size: 25px;
	color: #80b3ff;
	font-weight: bold;
	
}

.btn {
	border-style: double;
	border-width: 4px;
	border-color: black;
	border-radius: 1px 10px ;
}

.center-block {
	border: 25 px;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 25px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: #80b3ff;
}
.col-md-4 > h1 {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 25px;
	color: #80b3ff;
}

#randomNumber, #wins, #losses, #score {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 25px;
}

span {
	color: yellow;
	font-family: 'Russo One', sans-serif;
}

img {

	display: block;
	margin: auto;
	height: 200px;
	width: 200px;

}


