body {
	background: url("../images/darthvader.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.instructions {
	border-style: groove;
	border-width: 5px;
	border-color: #80b3ff;
}

p {
	font-family: 'Bungee Hairline', cursive;
	font-size: 25px;
	color: #80b3ff;
	font-weight: bold;
	
}

/* This line of code gives the each paragraph a box*/
/*.col-md-8 > p {
	border-style: groove;
	border-width: 5px;
	border-color: #80b3ff;
}
*/
.center-block {
	border: 25 px;
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 25px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	color: #80b3ff;
}
.col-md-4 > h1 {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 25px;
	color: #80b3ff;
}

#randomNumber, #wins, #losses, #score {
	font-family: 'Bungee Hairline', cursive;
	font-weight: bold;
	font-size: 25px;
}


span {
	color: yellow;
	font-family: 'Russo One', sans-serif;
}

#sith {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



#instructions {
	text-align: left;
	color:red;
	float: left;

}

#img_container {
	position: relative;
	display: inline-block;
	text-align: center;
	border: 1px solid red;
	height: 100px;
	width: 100px;
}

.button {
	position: absolute;
	display: inline-block;
	text-align: center;
	border: 1px solid black;


}

.sithlord {
	float: left;
	width: 150px;
}

div.sithlord:hover {
	background-color: red;

}

#vader {

	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	padding-right: 20px;
}

#sidious {

	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	padding-right: 20px;

}

#renn {

	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	padding-right: 20px;


}

#maul {

	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	padding-right: 20px;
}